---
layout: page
description:"maker"
---
<div class="row">
	<div class="col-xs-8">
		{% for post in paginator.posts %}
			<div class="box-card">
				<div class="box-title">
					<a href="">{{ post.title }}</a>
				</div>
				<div class="box-description">
					<p>{{ post.content | strip_html | truncate:150 }}<i> —— {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} published at {{ post.date | date: "%B %-d, %Y" }}</i></p>
				</div>
			</div> 
		{% endfor %}

			<!-- Pager -->
		{% if paginator.total_pages > 1 %}
			<ul class="pager">
			    {% if paginator.previous_page %}
			    <li class="previous">
			        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
			    </li>
			    {% endif %}
			    {% if paginator.next_page %}
			    <li class="next">
			        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
			    </li>
			    {% endif %}
			</ul>
		{% endif %}
	</div>
	<div class="col-xs-4">
		<div class="box-tags">
			<div class="box-tags-title">标签</div>
			<div class="tag">
				{% for tag in site.tags %}
<a href="#{{ tag[0] }}" title="{{ tag[0] }}" class="btn btn-default" type="button" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
{% endfor %}
			</div>
		</div>
	</div>
</div>
