<!DOCTYPE html>
<html lang="en">

<% include head.html %>

<body>

	<% include nav.html %>	
	<!-- jumbotron -->
<div class="jumbotron" style="background-image: url(http://bizhi.zhuoku.com/2012/01/06/jingxuan/jingxuan063.jpg); background-size: cover; background-repeat: no-repeat; background-position: 50% 20%;">
	<div class="container text-center">
		<h1>Maker's Blog</h1>
		<p><a href="Domaker@github.com" class="btn btn-default"><i class="fa fa-fw fa-github"></i></a></p>
	</div>
</div>
	<% content %>
	
	<% include footer.html %>
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.10.8/umd/popper.min.js" integrity="sha384-DnkRdQ7qQnIyQu3l2I77BVrTus+ZPSPbzkftVyG/w9e7UxGp0S0a72dG5FfBY/G3" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  
</body>

</html>